
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="logo-outer-wrap">
			<div class="logo-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo.svg" alt="">
				</a>
			</div>
			<div class="logo-second-wrap">
				<a href="" class="logo">
					<img src="./img/main/logo-second.svg" alt="">
				</a>
				<div class="logo-title">Департамент инвестиционной и&nbsp;промышленной политики Города&nbsp;Москвы</div>
			</div>
		</div>
		<div class="footer-outer-wrap">
			<div class="menu-outer-wrap">
				<ul class="menu">
					<li><a href="">Займы</a></li>
					<li><a href="">Компенсации</a></li>
					<li><a href="">Фонд</a></li>
					<li><a href="">Проекты</a></li>
					<li><a href="">Документы</a></li>
					<li><a href="">Новости</a></li>
					<li><a href="">Контакты</a></li>
				</ul>
			</div>
			<div class="main-contacts-wrap contacts-outer-wrap">
				<div class="phone-wrap">
					<div class="phone-number">
						<a href="tel:84957772696" class="link-phone">+7 (495) 777-26-96</a>
					</div>
					<div class="phone-info">консультация</div>
				</div>
				<div class="email-wrap">
					<a href="mailto:info@mfppp.ru">info@mfppp.ru</a>
				</div>
				<div class="address-wrap">
					<p>г. Москва, ул. Неглинная, д. 15, с. 1</p>
					<p><a href="" class="link-main">показать на карте</a></p>
				</div>
				<div class="soc-wrap">
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-vk.svg" alt="">
					</a>
					<a href="" class="btn-action-ico button-soc">
						<img src="./img/icons/soc-fb.svg" alt="">
					</a>
				</div>
			</div>
		</div>
		<div class="footer-info-outer-wrap">
			<div class="info-outer-wrap">
				<p>Московский Фонд поддержки промышленности и предпринимательства создан 7 декабря 2012 г. на основании распоряжения Правительства Москвы в целях реализации подпрограммы «Москва – город для бизнеса и инноваций». 33 шт Объем выданных займов 3 158 млн ₽ Сумма выданных займов 19 512 млн ₽ Прирост выручки компаний</p>
				<p>© 2015 - 2022 Московский Фонд поддержки промышленности и предпринимательства</p>
			</div>
			<div class="studio-outer-wrap">
				<div class="st-title">сделано в</div>
				<a href="" class="st-logo">
					<img src="./img/main/studio.svg" alt="">
				</a>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->